RewriteEngine On

# Human-readable file links: /d/{id}/{filename}
RewriteRule ^d/([0-9]+)/(.+)$ /file.php?id=$1 [L,QSA,NE]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]
